p{
  color: blue;
  font-style: italic;
  font-family: sans-serif;
}
#box{
  width:400px;
  margin-top:10px;
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.img{
  flex-shrink: 1;
  flex-grow:0;
margin:10px;
width:20px;
height:20px;
background-image: url("image/emoji.png");
background-size: 790%;
}
.img:last-child{
  margin-right:auto;
}