*{
    margin:0 0;
    padding:0 0;
}

/* 设置全局变量 */
:root{
    --delay1:3;
    --delay2:5;
    --main-txt-color:#333;
    --header-bg-color:#6767cc;
    --header-txt-color:#fff;
    --container-width:90%;
  }
  


body{
    background: rgb(0,4,114);
    overflow:hidden;
}

#photo{
    width:100%;
    display: relative;
    height:70vh;
    text-align: center;
}
#fortune_teller{
    width:auto;
    height:70vh;
    display: inline-block;
    /* margin:auto; */
    margin-left:auto;
    margin-right:auto;
    /* left: 50%;
    margin-left: -80vw; */
}



.chatbox{
    position:relative;
    text-align: center;     
}

.word{
    margin-top: 3vw;
    position:absolute;
    left:0;
    right:0;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: large;
}

.btn{
    margin-top: 3vw;
    display:none;
    position:absolute;
    left:0;
    right:0;
    text-align: center;
    color:white;
    font-weight: 900;
    font-size: large;
    cursor: pointer;
}
.btn:hover{
    font-style: italic;
    text-shadow: 0 0 30px #ccc;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.ans{
    margin-top: 3vw;
    display:none;
    /* position:absolute; */
    width:85%;
    height:30vh;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    /* left:0;
    right:0; */
    text-align: center;
    color:white;
    font-weight: 700;
    font-size: large;

}