*{
  margin:0 0;
  padding:0 0;
}

body{
  width:250px;
  height: 80px;
  margin:20px;
}

button{
  display: inline-block;

}
.spin:hover{
  animation:spin;
  animation-duration: 1s;
  position: absolute;
}

@keyframes spin {
  0%{
    tansform:rotate(0deg);
    opacity:1
  }
  100% {
      transform: rotate(360deg);
      opacity:0;
  }
}